@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Jost", serif;
}

:root {
  --primary-bg-color: 21, 21, 21;
  --secondary-bg-color: 255, 255, 255;
  --dusk-bg-color: 247, 247, 247;
  --darken-bg-color: 227, 227, 227;

  --primary-text-color: 21, 21, 21;
  --secondary-text-color: 255, 255, 255;

  --light-red-color: 232, 53, 53;

  --primary-border-color: 226, 226, 226;
  --secondary-border-color: 222, 222, 222;
}

.primary-btn {
  @apply relative isolate mt-2 w-full overflow-hidden border border-primary-text-color px-4 py-2 tracking-wide text-primary-text-color transition-all duration-200 before:absolute before:left-0 before:top-full before:z-[-1] before:h-full before:w-full before:bg-primary-bg-color before:transition-all before:duration-300 hover:text-secondary-text-color hover:before:top-0 lg:py-3;
}

.secondary-btn {
  @apply relative isolate mt-2 w-full overflow-hidden border border-primary-text-color bg-primary-bg-color px-4 py-2 tracking-wide text-secondary-text-color transition-all duration-200 before:absolute before:left-0 before:top-full before:z-[-1] before:h-full before:w-full before:bg-secondary-bg-color before:transition-all before:duration-300 hover:text-primary-text-color hover:before:top-0 lg:py-3;
}

.main-div {
  @apply px-[5px] md:px-3 lg:px-4;
}

.main-heading {
  @apply py-5 text-center text-4xl font-medium tracking-wide text-primary-text-color md:text-5xl lg:text-6xl;
}

.offcanvas-heading {
  @apply text-base font-medium uppercase tracking-wide text-primary-text-color;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
